@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url("./fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 96%);
  --darkGrey: hsl(0, 0%, 60%);
  --yellow: hsl(42, 99%, 48%);
  --blue: hsl(218, 99%, 39%);
  --green: hsl(135, 62%, 37%);

  /* Typography */
  --light: 300;
  --regular: 400;
  --black: 900;
}

html {
  height: 100%;
  font-size: calc(20px + (26 - 20) * (100vw - 400px) / (1600 - 400));
  line-height: 130%;
}

body {
  background-color: var(--grey, hsl(0, 0%, 96%));
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: var(--light, 300);
  color: var(--black, hsl(0, 0%, 0%));
}
